.scroll::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: white;
  }
  *::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }